{% extends "base_generic.html" %}

{% block content %} 
<h1>Sign up:</h1>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table}}
    </table>
    <h3>Sign up as</h3>
    <input type="radio" id="student" name="role" value="Student" required>
    <label for="student">Student</label><br>
    <input type="radio" id="examiner" name="role" value="Examiner" required>
    <label for="examiner">Examiner</label><br>
    <br>
    <input class="btn btn-primary" type="submit" value="submit">
    <br><br>
</form>
{% endblock %}